<app-navbarmed></app-navbarmed>

<div class="banner-area padding-width-1 gray-bg allcatboxcoverpage bg ">
    <div class="container-fluid" style="min-height: calc(100vh - 450px);">
    <div class="pagemaintitlenewset1 margtopandbotmrped1">
            
            <h2 class="h2_data_seo_content mt-3">Acidity Medicines </h2>
        </div>
        <div class="row">
            
                                        
                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a href="">
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/acidity.iamges/dexilent.jpg" alt="" style="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a href="">Dexilent</a></h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a href="">
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/acidity.iamges/Digene.jpg" alt="" style="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a href="">Digene</a></h5>
                        </div>
                    </div>
                </div>
                                          
                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a href="">
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/acidity.iamges/gelusil.jpg"alt="" style="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a href="">Gelusil</a></h5>
                        </div>
                    </div>
                </div>
                                          
                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a href="">
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/acidity.iamges/lomacide.jpg" alt="" style="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a href="">Lomacide</a></h5>
                        </div>
                    </div>
                </div>
                                          
                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a href="">
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/acidity.iamges/Pan-D.png" alt="" style="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a href="">Pan-D</a></h5>
                        </div>
                    </div>
                </div>
                                          
                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a href="">
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/acidity.iamges/protonix-pantoprazole-250x250.jpg" alt="" style="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a href="">Pantaprazole</a></h5>
                        </div>
                    </div>
                </div>
                                          
             
                                          
     
                

               
                                          
              
                                          
            
                              </div>
                               
            
                                        
                                                           
                               
                                                          
                             
    </div>
    <app-footer></app-footer>  
</div>