<app-navbarmed></app-navbarmed>

<div class="banner-area padding-width-1 gray-bg allcatboxcoverpage bg ">
    <div class="container-fluid" style="min-height: calc(100vh - 450px);">
    <div class="pagemaintitlenewset1 margtopandbotmrped1">
            
            <h2 class="h2_data_seo_content mt-3">Vitamin Tablets </h2>
        </div>
        <div class="row">
            
                                        
                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a href="">
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/iron.images/Beplex-Forte-.jpg" alt="" style="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a href="">Beplex-Forte</a></h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a href="">
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/iron.images/dexorange-syrup_.jpg" alt="" style="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a href="">dexorange-syrup</a></h5>
                        </div>
                    </div>
                </div>
                                          
                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a href="">
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/iron.images/ironox.jpg"alt="" style="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a href="">ironox</a></h5>
                        </div>
                    </div>
                </div>
                                          
                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a href="">
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/iron.images/Neurobion-Forte.jpg" alt="" style="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a href="">Neurobion-Forte</a></h5>
                        </div>
                    </div>
                </div>
                                          
                <div class="col-lg-3 col-xl-2 col-md-6 col-6" id="catd">
                    <div class="banner-wrapper banner-hover relative mb-30 cetgpagedesignbset" style="text-align: center;">
                        <a href="">
                                                                    <div class="caticonseborderiner">
                                    <img src="../../assets/medicine variety/iron.images/zincovit.jpg" alt="" style="">
                                </div>
                                                            </a>
                        <div class="banner-content-2 banner-position1">
                            <h5><a href="">zincovit</a></h5>
                        </div>
                    </div>
                </div>
                                          
               
                                          
             
                                          
     
                

               
                                          
              
                                          
            
                              </div>
                               
            
                                        
                                                           
                               
                                                          
                             
    </div>
    <app-footer></app-footer>  
</div>