<nav class="navbar navbar-expand-lg navbar-light p-3 " style="background-color: #e3f2fd;">
    <a class="navbar-brand d-flex flex-row" href="#">
       <div class="logo-image mr-2">
      <img src="../../assets/medicare1.JPG" class="img-fluid">
  </div>
  <p class="logohead">Medicare</p>
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
  
      <ul class="mr-auto ml-auto navbar-nav font-weight-bold navfont">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/navbar" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
       
        <li class="nav-item active">
          <a class="nav-link" routerLink="/newreg">Apply For Medicines<span class="sr-only">(current)</span></a>
        </li>
      </ul>
  
 
  
   
    </div>
  </nav>
